<tr>
	<td class="panierProduit"><%= line_item.reference.name %></td>
	<td class="panierQuantite"><%= line_item.quantity %></td>
	<td class="panierPrix"><%= number_to_currency(line_item.reference.price * line_item.quantity, :unit => "€", :delimiter => " ", :format => "%n%u") %></td>
</tr>
